---
Checks: '*,
         -abseil-*,
         -altera-*,
         -fuchsia-*,
         -google-*,
         -llvm*,
         -zircon-*,'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
...
